.site-layout-content {
  min-height: 390px;
  padding: 24px;
 
  background: white;
  
  
 
  
}

.ant-layout-content {

  min-height: 90vh;


}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  
  background: rgba(255, 255, 255, 0.3);
}
.logo{
  float: left;
  width: 120px;
  height: 70px;
  
 

  background-image: url(/public/logoden4k1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 35%;

  
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 30px;
  
}

.logoutbtn{
  margin-top: 1%;
  text-decoration-color: rgb(0, 0, 0);
  color:rgb(0, 0, 0);
}

.logoutbtn:hover{
  
  
  text-decoration-color: rgb(0, 0, 0);
  
}

:where(.css-dev-only-do-not-override-1ct6cg).ant-btn.ant-btn-block {
  width: fit-content;
}

.ant-layout-header{

height: 64px;
background: white;

}


