.site-layout-content {
  min-height: 390px;
  padding: 24px;
 
  background: white;
  
  
 
  
}

.ant-layout-content {

  min-height: 90vh;


}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.logo{
  float: left;
  width: 120px;
  height: 70px;
  margin: 1px 24px 16px 0;
 

  background-image: url(/public/Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 35%;

  
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 30px;
  
}

.logoutbtn{
  margin-top: 1%;
}

.logoutbtn:hover{
  background-color: white;
  color:#1890ff;
}



.ant-layout-header{

height: 64px;
background: white;

}


