.site-layout-content {
  min-height: 290px;
  padding: 24px;
  background: white;
  
  
  
}
.space_to_logout{
  margin-right: 538px;
}

.button_logout:hover {
  background-color: white; /* Green */
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.logo{
  float: left;
  width: 80px;
  height: 70px;
  margin-top: 0px;
  margin-right: 50px;

  background-image: url(/public/logo192.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 35%;
  
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 30px;
  
}

.logoutbtn{
  margin-top: 1%;
}