/* .site-card-border-less-wrapper {
    background-color:white;
    width: 94em;
    height: 44em;
    border-radius: 2.7em;
    padding: 13px;
    background: #ffffff;
    

  } */

  .offercard{
    padding: 7px;
    background: white;
    width: 70%;
    font-weight: "bold";
    
 
    border-radius: 1.7em;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 50px;;
  }

  .collapse{

    background: red;
    width: 70%;

  }


  .ant-collapse  .ant-collapse-item  .ant-collapse-header {
    padding: 0;
  }

  .ant-collapse-content .ant-collapse-content-active {
   width: 800px;
  }

  .editbutton {
    color: #1890ff;
    background-color: #1890ff;
    color: #ffffff;
    width: 90%;
    border-radius: 17px;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.1s;
    transition: ease-out 0.42s;
  }
  
  .editbutton:hover {
    box-shadow: inset 170px 0 0 0 #FFF;
    color: #1890ff;
  }

  .ant-layout-content {

    min-height: 90vh;
  
  
  }

  .deletebutton {
    color: #FFF;
    border: 2px solid #ff4d4f;
    background-color: #FFF;
    color: #ff4d4f;
    width: 90%;
    border-radius: 17px;

    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ff4d4f;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.1s;
    transition: ease-out 0.42s;
  }
  
  .deletebutton:hover {
    box-shadow: inset 170px 0 0 0 #ff4d4f;
  }

  .FixedHeightContainer
{
  height: 700px;
  width: 100%;


}
.Content
{
  height: 81.7vh;

   overflow:auto;
   
   /* box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 50px;; */
}
  
