/* .site-card-border-less-wrapper {
    background-color:white;
    width: 94em;
    height: 44em;
    border-radius: 2.7em;
    padding: 13px;
    background: #ffffff;
    

  } */

  .offercard{
    padding: 7px;
    background: white;
    width: 70%;
    font-weight: "bold";
    
 
    border-radius: 1.7em;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 50px;
  }
.addOffer{
  border-radius: 1.7em;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 50px;
}
  .collapse{

    background: red;
    width: 70%;

  }


  .ant-collapse  .ant-collapse-item  .ant-collapse-header {
    padding: 0;
  }

  .ant-collapse-content .ant-collapse-content-active {
   width: 800px;
  }

  
  .ant-layout-content {

    min-height: 110vh;
  
  
  }

  
  .FixedHeightContainer
{
  height: 700px;
  width: 100%;


}
.Content
{
  height: 81.7vh;

   overflow:auto;
   
   /* box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 50px;; */
}

.ContainerOrderPage
{
  height: 30vh;
  width: 100%;


}
.ContentOrderPage
{
  height: 76.7vh;

   overflow:auto;
   
   /* box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 50px;;  */
} 
