.register{
    background-color:white;
    display: flex;
    width: 33em;
    height: 50em;
    border: 0;
    text-align:center;
    float: center;
    margin-top: 5%;
    margin-left: 65%;
    margin-bottom: 5%;
    border-radius: 20px;
}


.formStyle{
    margin-top: 10%;
    
    
}
.FormRegister{
    position:relative;
    text-align: center;
    float: center;
    
}
.formStyle{
    margin-top: 10%;
    
}