.register{
    background-color:white;
    
    border-radius: 2.7em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 50px;;
}


.formStyle{
    margin-top: 10%;
    
    
}
.FormRegister{
    position:relative;
    text-align: center;
    float: center;
    
}
.formStyle{
    margin-top: 10%;
    
}

.ant-layout-content {

    min-height: 90vh;
  
  
  }